@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

@layer base {
  html {
    font-family: 'Poppins', sans-serif;
  }
  body {
    -webkit-font-smoothing: antialiased;
    width: 100%;
    height: 100vh;
  }
}
